.header{
background-color: #24353F;
}
.main-sec {
min-height: 87.1vh;
background-color: #24353F;
display: flex;
    justify-content: center;
    align-items: center;
}
.txt-grey{
    color: gray;
}


h1 , input , button , p {
    font-family: sans-serif;
}
.inner {
width: 75%;
background-color: #24353F;
    
}
.shadow-xxl {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.5) !important;
}

.txt-blue {
    color: #17A2B8;
}
.w-95{
    width: 95%;
}
.btn {
    background-color: transparent;
    border-color: #FFC107 !important;
}

.btn:hover {
    background-color: #FFC107 !important;
    border-color: transparent;
    color: white;
}
